

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
               

<h2>Comments</h2>
<%= render @article.comments %>
<div style="margin-top :20%;">
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 </div>
 <div>
<p class="btn-add-new box noprint"><strong><%= link_to 'Edit', edit_article_path(@article) %></strong></p>
<p class="btn-add-new box noprint"><strong><%= link_to 'Back', articles_path %></strong></p>
</div>